body {
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden; }

.img-logo {
  height: 80px;
  width: 80px;
  display: block;
  background: url("/assets/logo_01.png") no-repeat;
  background-size: contain;
  color: transparent; }

nav.navbar-transparente {
  padding: 0px 0px;
  background: rgba(0, 0, 0, 0.6);
  border: none; }

.navbar-brand {
  padding: 0px 15px; }

.navbar-inverse .navbar-nav > li > a, footer .nav a {
  color: white; }

.navbar-inverse .navbar-nav > li > a:hover, footer .nav a:hover {
  color: #9bf0e1;
  background: none; }

.fonte-p {
  font-family: 'Roboto', sans-serif; }

#servico {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px; }
