
body{
	background:
	linear-gradient(to top, #30cfd0 0%, #330867 100%);
	background-attachment: fixed; 
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden; 

}
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('/assets/logo.png') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none; 
}

.navbar-brand {
	padding: 5px 15px;

}

.navbar-inverse .navbar-nav>li>a, footer .nav a{
	color: white;


}
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

 .fonte-p{
   font-family: "Ubuntu", sans-serif;
       font-weight: 300;
   
  }
 #servico {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}